---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Cards.astro';
import '../styles/home.css';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Picture } from 'astro:assets';
import sunflowers from '../assets/sunflowers-HansLinde.jpg';
import group from '../assets/home.png';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="home">
				<Picture 
					src={sunflowers} 
					formats={['avif', 'webp']} 
					alt="Sunflowers by Hans Linde" 
					widths={[240, 540, 720, sunflowers.width]}
					sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${sunflowers.width}px`}/>
				<div class="home-image">
					<h1 class="hogar-corporal">Hogar Coporal</h1>
					<p>Psic. Leonor Brenes Mesa</p>
				</div>
			</div>

			<h1>"Sanar desde el cuerpo, habitar desde el cuidado."</h1>
			<div class="flex-image">
				<div class="text-with-image">
					<p>Este es un espacio creado para <b>acompa침arte en el proceso de reconectar contigo misma/o, con tu cuerpo y con tus v칤nculos</b>, desde una mirada compasiva y respetuosa.</p>
					<p>En Hogar Corpral te ofrezco un acompa침amiento terap칠utico basado en la psicoterapia integrativa y el Yoga Sensible al Trauma (TCTSY), donde la seguridad, la elecci칩n y el cuidado son fundamentales.</p>
					<p>Tal vez no siempre hay palabras para lo vivido, pero s칤 hay <b>caminos para volver al cuerpo, cultivar presencia y construir formas m치s amables de habitarte</b>. Aqu칤 puedes pausar, respirar y explorar lo que necesites, a tu propio ritmo.</p>
					<p>Eres bienvenida/o a comenzar este camino, desde el cuerpo, el v칤nculo y la presencia.</p>
					<p>游 <b>Te doy la bienvenida a este hogar</b>.</p>
				</div>
				<div class="image-in-circle">
					<div class="circle"/>
					<Picture
						src={group}
						alt="Ilustraci칩n de grupo de terapia"
						formats={['avif', 'webp']}
						/>
				</div>
			</div>
			<h1>Formas de acompa침ar</h1>
			<div class="cards-display">
				<Card 
					title='Psicoterapia'
					imagePath='/src/assets/home-sofa.jpg'
					subtitle='Sesiones individuales'
					altText='Ilustaric칩n de sofa y plantas'
					link='/psicoterapia'
				/>
				<Card 
					title='Yoga Sensible a Trauma'
					imagePath='/src/assets/home-yogaIndividual.jpg'
					subtitle='Sesiones grupales'
					altText='Ilustaric칩n de sofa y plantas'
					link='/yoga-sensible'
				/>
				<Card 
					title='Yoga Sensible a Trauma'
					imagePath='/src/assets/home-sesionesGrupales.jpg'
					subtitle='Sesiones individuales'
					altText='Ilustaric칩n de sofa y plantas'
					link='/yoga-sensible'
				/>
			</div>
		</main>
		<Footer />
	</body>
</html>
