---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import '../styles/cards.css'

interface Props {
  title: string;
  imagePath: string;
  subtitle: string;
  altText: string;
  link: string;
}
const { title, imagePath, subtitle, altText, link } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---
<div class="card">
  <a href={link}>
    <p>{title}</p>
    <Image src={images[imagePath]()} alt={altText} />
    <p>{subtitle}</p>
  </a>
</div>